name: Ruby Gem

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # test:
  #   name: Test (RSpec + RuboCop)
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: read

  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Set up Ruby
  #       uses: ruby/setup-ruby@v1
  #       with:
  #         ruby-version: '3.2'   # 你可以指定 3.1、3.2、3.3 等
  #         bundler-cache: true

  #     - name: Run RSpec
  #       run: bundle exec rspec

  #     - name: Run RuboCop
  #       run: bundle exec rubocop

  publish:
    name: Build + Publish (RubyGems)
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: false

      - name: Ensure Linux platform in lockfile
        run: bundle lock --add-platform x86_64-linux

      - name: Install dependencies
        run: bundle install --jobs 4

      - name: Publish to RubyGems
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
          gem build *.gemspec
          gem push *.gem
        env:
          GEM_HOST_API_KEY: "${{secrets.RUBYGEMS_AUTH_TOKEN}}"
